.site-header {
  background: #FFEAAA;
}

/* REVIEW: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

/* TODO: (done) Add styles for the icon-menu class. It should be bigger, and off to the right. */

#menuIcon {
  font-size: 40px;
  float: right;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

/* TODO: Now add styles for how things should look on a larger screen:
         - Hide the hamburger.
         - Main nav should be all on one row, with padding spaced better for a larger screen.
         - Just, ya know, try to make it look good! */
@media screen and (min-width: 1000px) {

  .main-nav ul {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  .main-nav li {
    display: inline-block;
    float:left;
    border-bottom: none;
    text-align: center;
    width: 25%;
    margin: 0px;
    padding: 10px 0px 10px 0px;
  }

  #menuIcon {
    display: none;
  }

}
